@font-face {
  font-family: 'icomoon';
  src:  url('../../Assets/fonts/icomoon.eot?m740xk');
  src:  url('../../Assets/fonts/icomoon.eot?m740xk#iefix') format('embedded-opentype'),
  url('../../Assets/fonts/icomoon.ttf?m740xk') format('truetype'),
  url('../../Assets/fonts/icomoon.woff?m740xk') format('woff'),
  url('../../Assets/fonts/icomoon.svg?m740xk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-icon:before {
  content: "\e900";
}
.icon-top-icon:before {
  content: "\1f30a";
  color: #fff;
}
