$base-font-sans-serif: 'Inter', Arial, "Helvetica Neue", Helvetica, sans-serif;
$white: #fff;
$gray: #718096;
$light-gray: #e8e7e7;
$light-gray: #f2f2f2;
$black: #2D3748;
$dark-black: #000;


// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $gray !default;
$base-background-color: #fff;
$font-size-base: 16px !default;
$line-height-base: 1.1875 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $black;

// Headers
$h1-font-size: 45px !default;
$h2-font-size: 30px !default;
$h3-font-size: 20px !default;
$h4-font-size: 18px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;


$breakpoints: (
  'xs-phone': 320px,
  'phone': 600px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);