@import "../../theme/vendors/include-media";

.box {
  box-shadow: 0 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
  width: 29.411%;
  font-size: 14px;
  line-height: 1.214;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;

  @include media("<desktop") {
    width: 49%;
  }

  @include media("<tablet") {
    width: 100%;
  }

  &:first-child {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    @include media("<desktop") {
      flex-direction: column;
    }

    .box_description {
      padding: 41px 57px 43px;
    }

    h2 {
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 27px;
    }

    p {
      margin: 0 0 30px;
    }
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 15px;
    cursor: pointer;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  p {
    margin: 0 0 22px;
  }
}

.box_description {
  padding: 16px 16px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sub_box {
  display: flex;
  justify-content: space-between;
  margin-top: auto;

  time,
  a {
    font-size: 12px;
    line-height: 15px;
  }

  a {
    font-weight: 700;
  }
}

.img_box {
  display: block;
  flex-shrink: 0;
  cursor: pointer;
}