@import "./base/normalize";
@import "./base/variables";
@import "./base/typography";
@import "./base/reset";
@import "./base/btns";
@import "./base/icomoon";
@import "./vendors/include-media";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main {
  padding: 0 0 50px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 60px;

  @include media("<desktop") {
    padding: 0 30px;
  }
}

.news-frame {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-anchor {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  background: $black;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px rgba($gray, 0.1);

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 14px;
    top: 50%;
    width: 8px;
    height: 1px;
    background: $white;
    transform: rotate(40deg);
  }

  &:after {
    left: 8px;
    transform: rotate(-40deg);
  }
}