@import "./base/normalize";
@import "./base/variables";
@import "./base/form";
@import "./base/typography";
@import "./base/reset";
@import "./base/btns";
@import "./base/icomoon";
@import "./vendors/include-media";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main {
  padding: 0 0 50px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 60px;
}

.news-frame {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}